@import url('../assets/fonts/Fredoka.css');
@import url('../assets/fonts/Poppins.css');

:root {
  --main-bg-color: #312f28;
  --toolbar-bg-color: #21242c;
  --primary-blue: #009912;
  --thumbnail-bg-color: lightgray;
  --button-border-color: white;
  --hover-border-color: lightblue;
  --button-selected-border-color: var(--primary-blue);
  --thumbnail-size: 64px;
  --border-radius: 8px;

  --outer-border-size: 4px;
  --outer-border-offset: -6px;
  --outer-border-radius: calc(var(--border-radius) * 1.1);

  --font-weight-not-bold-heading: 400;
  --font-weight-bold-heading: 600;
}

body {
  background-color: var(--main-bg-color);
}

body {
  margin: 0;
}

* {
  /*Fredoka One*/
  font-family: Poppins, sans-serif;
  font-size: 12pt;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

#root {
  display:flex;
  flex-direction: column-reverse;
}

.selector {
  overflow: auto;
  width: 45%;
  background-color: var(--main-bg-color);
}

.selector .simpleBar {
  padding: 16px 32px;
}

.main {
  display: flex;
  overflow: hidden;
  flex: 1;
}

#sceneContainer {
  position: relative;
  width: 75%;
}

button,
label {
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  display: inline-block;
  font-size: 10px;
  
}

label {
  display: block;
}

.categoryHeading {
  display: flex;
  flex-flow: row no-wrap;
  align-items: center;
  padding: 10px 24px;
}

.categoryHeading h2, .categoryHeading .chevron {
  margin-right: 40px;
}
.categoryHeading:hover .categoryName,
.categoryHeading:hover .chevron {
  color: var(--primary-blue);
}

.categoryHeading .chevron {
  flex: 1;
  text-align: left;
}

.categoryHeading .categoryName {
  color: #f4f4f4;
  font-weight: var(--font-weight-not-bold-heading);
  white-space: nowrap;
}
.categoryHeading .selectedPartName {
  font-weight: var(--font-weight-bold-heading);
  color: #f4f4f4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.categoryHeading .chevron {
  flex: 1;
  text-align: left;
}

.partSelector {
  margin-bottom: 16px;
  /* prevent margin collapse */
  padding-bottom: 0.1px;
  background-color: #3c3a3a;
  border-radius: var(--border-radius);
  position: relative;
  outline: none;
}
.partSelector:after, .avatarPartButton:after {
  content: '';
  display: block;
  position: absolute;
  top: var(--outer-border-offset);
  bottom: var(--outer-border-offset);
  left: var(--outer-border-offset);
  right: var(--outer-border-offset);
  border-radius: var(--outer-border-radius);
  border: none;
  pointer-events: none;
}
.partSelector:focus:after,
.partSelector.expanded:after,
.partSelector.collapsed:hover:after {
  border: var(--outer-border-size) solid;
  border-color: var(--hover-border-color);
}

.partSelector .collapsible {
  overflow: hidden;
  margin: 14px;
  margin-top: 4px;
  transform: scaleY(1);
  transform-origin: top;
  opacity: 1;
  transition: transform 0.2s, opacity 0.2s;
}

.partSelector.collapsed .collapsible {
  transform: scaleY(0);
  opacity: 0;
  height: 0;
  margin: 0;
}

.partThumbnail, .avatarPartButton {
  min-width: var(--thumbnail-size);
  height: var(--thumbnail-size);
  background-color: var(--thumbnail-bg-color);
  border-radius: var(--border-radius);
  border: var(--thumbnail-border-size) solid;
  border-color: #f4f4f4;
  background-size: contain;
}

.partSelector.collapsed .avatarPartButton {
  display: none;
}

.avatarPartButton {
  border-color: var(--button-border-color);
  position: relative;
  outline: none;
}

.avatarPartButton:focus:after,
.avatarPartButton:hover:after {
  border: var(--outer-border-size) solid;
  border-color: var(--hover-border-color);
}

.avatarPartButton.selected:after {
  border: var(--outer-border-size) solid;
  border-color: var(--button-selected-border-color);
}

.buttonTip {
  border-radius: 6px;
  position: absolute;
  background: var(--primary-blue);
  white-space: nowrap;
  padding: 3px 10px;
  color: white;
  font-weight: bold;
  margin-top: 6px;
  transform-origin: center center;
  transform: translate(-50%, 0);
  pointer-events: none;
}

.toolbar {
  background-color: var(--toolbar-bg-color);
}

.toolbarNotice {
  color: #f4f4f4;
  display: flex;
  justify-content: center;
  padding: 0 1em;
  padding-bottom: 10px;
}
.toolbarNotice * {
  font-size: 9pt;
}

.toolbarStatus {
  display: flex;
  justify-content: center;
  padding: 0 1em 8px;
  color: #f4f4f4;
  font-size: 9pt;
}

.toolbarContent {
  padding: 10px 24px;
  padding-bottom: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 2px solid lightgrey;
}

.toolbarContent button, .toolbarContent .uploadButton {
  display: inline;
  background-color: white;
  border-radius: var(--border-radius);
  color: black;
  font-size: 10pt;
  padding: 10px;
  font-weight: bold;
  white-space: nowrap;
}
.toolbarContent button:hover,
.toolbarContent button:focus,
.toolbarContent .uploadButton:hover,
.toolbarContent .uploadButton:focus {
  background-color: lightgrey;
}

button.primary {
  background-color: var(--primary-blue);
  border-color: var(--primary-blue);
  color: white;
}
button.primary:hover,
button.primary:focus {
  background-color: lightblue;
  border-color: lightblue;
}

.returnButton {
  display: inline-block;
  background-color: white;
  border-radius: var(--border-radius);
  color: black;
  font-size: 10pt;
  padding: 10px;
  font-weight: bold;
  white-space: nowrap;
  text-decoration: none;
}
.returnButton:hover,
.returnButton:focus {
  background-color: lightgrey;
}

.toolbarContent .uploadButton input {
  display: none;
}

.appName {
  color: #f4f4f4;
  flex: 1;
  font-size: 8pt;
  display: flex;
  align-items: center;
}

.menuContainer {
  position: relative;
}

.menuContainer .menuButton {
  --button-size: 70px;
  font-size: 20pt;
  width: var(--button-size);
  height: var(--button-size);
  border-radius: var(--button-size);
  padding: 0;
}

.menu {
  position: absolute;
  z-index: 1;
  background-color: var(--toolbar-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px;
  border-radius: var(--border-radius);
}

.menu a {
  margin: 10px 0;
}

@keyframes wave {
  from { background-position-y: 0 }
  to { background-position-y: 400px; }
}

.waveContainer {
  position: absolute;
  width: 60px;
  height: 100%;
  pointer-events: none;
  background-repeat: repeat-y;
  /*animation: wave 3s infinite;
  animation-timing-function: cubic-bezier(.2,.52,.79,.49);*/
  /* Move 1 pixel to the left to workaround rendering issue in FF linux */
  left: -1px;
}

@media (min-width: 1200px) {
  #root {
    flex-direction: column;
  }
  .toolbarContent {
    padding: 20px 40px;
    padding-bottom: 20px;
  }
  .appName {
    font-size: 12pt;
  }
  .menu {
    bottom: 85px;
    flex-direction: column-reverse;
  }
}
